.signupcontainer{
    background-color: rgb(15, 23, 42);
    width: 100%;
   padding: 4rem 0 1rem 0;
   min-height:100vh ;
}

.signupcontainer form{
    background-color: rgb(9, 15, 30);
    max-width: 500px;
    border: 1px solid white;
    margin: auto;
    box-shadow: 0 0 8px rgba(222, 219, 219, 0.777);
    color: #ffffff;
    padding: 1rem;
}

.signuptitle{
    color: green;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size:45px;
}

.buttoncontainer{
    display: flex;
}

.buttoncontainer button {
    margin:auto;
}

.hr2{
    border:1px solid white;
}

@media (max-width: 768px) {
    .signupcontainer form{
        margin: 1rem;
    }
}