
.profile{
  justify-content: center;
}

.profile_img {
  vertical-align:middle;
  width: 45px;
  border-radius: 50%;
}

.profile-name{
  color: green;
  margin-left: 4%;
}

.buttonlogout{
  margin-left: 5rem;
}

@media (max-width: 768px) {
  .authbutton{
    padding-bottom: 0.5rem;
    margin-left: 0.7rem;
  }
}
