@media (max-width: 768px) {
    .userprofiledropdown {
      font-size: 1rem;
    }
}

.profile{
  justify-content: center;
}

.profile_img {
  vertical-align: middle;
  width: 45px;
  height:50;
  border-radius: 50%;
}

.profile-name{
  color: green;
  margin-left: 4%;
}
